.additem {
    padding: 10px 5px;
}

.additem input {
    padding: 10px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px 0 0 5px;
    width: 70%;

}

.additem button {
padding: 10px;
outline: none;
border-radius: 0 5px 5px 0;
width: 20%;
cursor: pointer;
background-color: rgb(134, 134, 218);
transition: all 0.3 ease;
}

.additem button:hover{
    background-color: rgb(216, 216, 230);
}

